.container{
  margin: 0 auto;

  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}
.resultsContainer{
  box-sizing: border-box;
  padding: 50px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cardsContainer{
  box-sizing: border-box;
  display: grid;
  max-width: 1440px;
  width: 100%;
  gap: 30px 24px;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: space-between;
}

@media screen and (max-width: 830px) {
  .cardsContainer{
    justify-content: center;
  }
}